
<div class="text-center pt-3">
<h1>ALPHA BLOG</h1>
  <% if !logged_in? %>
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg" %>
  <% end %>
<div class="jumbotron text-center mt-3">
</div>
</div>
