<h3></h3>
<%= image_tag("dog-circular.png", :alt => "Dogs", :class => "img-circle", :width => "300", :height => "300") %>
<h2>Training for therapy</h2>
<p>
  Think your canine could make a difference as a therapy dog?
  <br>
  Learn how therapy training works.</p>
</div>
<div class="container-fluid bg-2 text-center">
<h3>Certification Programs for Dog Trainers</h3>
<p>Lorem ipsum..</p>
</div>

<div class="container-fluid bg-3 text-center">
<h3>Send Your Dog To Companions Dog Training</h3>
<div class="row">
  <div class="col-sm-4">
    <p>Lorem ipsum..</p>
    <%= image_tag("dog-training-1", :alt => "Image") %>
  </div>
  <div class="col-sm-4">
    <p>Lorem ipsum..</p>
    <%= image_tag("dog-training-2.jpeg", :alt => "Image") %>
  </div>
  <div class="col-sm-4">
    <p>Lorem ipsum..</p>
    <%= image_tag("dog-training-3.jpeg", :alt => "Image") %>
  </div>
</div>
